* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    min-height: 65px;
    background-image: linear-gradient(to right, #22223b, #4a4e69);
    color: #f2e9e4;
    padding: 20px;
}

.header--title {
    font-weight: 700;
    font-size: 1.25rem;
}

.header--image {
    width: 10%;
    margin-right: 7px;
}

.header--project {
    font-weight: 500;
    font-size: 1rem;
    margin-left: auto;
}

section {
    padding: 36px;
}

.section--form {
    max-width: 600px;
    margin: 0 auto 30px;
}

.section--form--input  {
    display: flex;
    justify-content: space-between;
    gap: 17px;
    margin-bottom: 15px;
}

.section--input,
.section--form--button {
    font-family: inherit;
    width: 100%;
    border-radius: 5px;
}

.section--input {
    border: 1px solid #D5D4D8;
    padding: 10px 10px 11px;
}
.section--form--button {
    border: none;
    padding: 10px 156px 11px;
    background-image: linear-gradient(to right, #22223b, #4a4e69);
    color: #f2e9e4;
    cursor: pointer;
}

.section--image--wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.section--image {
    max-width: 90%;
}

.section--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}