* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 80px;
    /* confined in a flexbox */
    display: flex;
    padding: 5px 30px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold--title {
    font-size: medium;
    font-weight: bold;
    margin-right: 5px;
}

.gray {
    color: #918E9B;
}

.nav--logo {
    max-width: 100px;
}

section {
    padding:20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
    font-weight: 600;
}

.hero--text {
    margin-top: 0;
    font-weight: 300;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.cards--list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card--rating {
    margin-right: 10px;
}

.card--title {
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--type{
    color: #918E9B;
    margin-right: 4px;
}

.card--image {
    width: 100%;
    border-radius: 5px;
}

.card--stats {
    display: flex;
    align-items: center; 
    
}

.card--star {
    height: 14px;
    margin-right: 4px;
}