/* asterisk(*) means all elements -> this is an univeersal selector */
* {
    box-sizing: border-box;
}

main {
    padding: 57px 27px;
    background-image: url(./images/mario-background.png);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 85%;

}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color:blanchedalmond;
}

span {
    font-weight: 100;
}

.nav {
    display: flex;
    /* push the space in between 'img' and 'ul' */
    /* justify-content: space-between; */
    align-items: center;
    background-color: burlywood;
    height: 90px;
    padding: 30px 25px;
}

.nav-img {
    width: 70px;
    margin-right: 7px;
}

.nav-title {
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav-items {
    list-style: none;
    /* Give items in a row  */
    display: flex;
    font-weight: 600;
}

.nav-items > li {
    padding: 10px;
}

.content-title {
    margin: 0;
    font-size: 35px;
    letter-spacing: -0.03em;
}
.content-list {
    
    font-weight: 600;
    margin-top: 25px;
    max-width: 500px;
}

.content-list > li {
    line-height: 19px;
    /* sepcify the padding on the top and bottom */
    padding-block: 10px;
}

/* add pseudo element selector for marker */
.content-list > li::marker {
    content: '☞ ';
    font-size: 1.3em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    text-align: center;
    font-size:x-large;
}

.content_nested {
    font-weight: 100;
    padding-block: 10px;
}