/* asterisk(*) means all elements -> this is an univeersal selector */
* {
    box-sizing: border-box;
}

main {
    padding: 57px 27px;
    height: 100vh;
    background-image: url(./images/mario-background.png);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 60%;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color:blanchedalmond;
}

span {
    font-weight: 100;
}

nav {
    display: flex;
    /* push the space in between 'img' and 'ul' */
    /* justify-content: space-between; */
    align-items: center;
    background-color: burlywood;
    height: 90px;
    padding: 30px 25px;
}

.nav-img {
    width: 70px;
    margin-right: 7px;
}

.nav-title {
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav-items {
    list-style: none;
    /* Give items in a row  */
    display: flex;
    font-weight: 600;
    margin-right: 40px;
}

.nav-items > li {
    padding: 10px;
}

nav.dark {
    color:#F5F5F5;
    background-color: #21222A;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.8rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #806cbb;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

main.dark {
    background-color: #282D35;
    color: white;    
}

.content-title {
    margin: 0;
    font-size: 35px;
    letter-spacing: -0.03em;
}
.content-list {
    font-weight: 600;
    margin-top: 25px;
    max-width: 500px;
}

.content-list > li {
    line-height: 19px;
    /* sepcify the padding on the top and bottom */
    padding-block: 10px;
}

/* add pseudo element selector for marker */
.content-list > li::marker {
    content: '☞ ';
    font-size: 1.3em;
}

.content_nested {
    font-weight: 100;
    padding-block: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    text-align: center;
    font-size:x-large;
}

footer.dark {
    background-color: #21222A;
    color: white;
}