.main {
    font-family: Inter, sans-serif;
}

.nav {
    display: flex;
    /* push the space in between 'img' and 'ul' */
    /* justify-content: space-between; */
    align-items: center;
    background-color: burlywood;
    height: 40px;
    padding: 30px 25px;
}

.nav-img {
    width: 70px;
    margin-right: 7px;
}

.nav-title {
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav-items {
    list-style: none;
    /* Give items in a row  */
    display: flex;
    font-weight: 600;
}

.nav-items > li {
    padding: 10px;
}

.content-subheader {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-list > li {
    margin: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    text-align: center;
    font-size:x-large;
}